.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* Space between grid items */
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
}

.item {
  background-color: #f0f0f0; /* Background color for grid items */
  border: 1px solid #ccc; /* Border for grid items */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Padding inside grid items */
}
h3{
    text-align: center;
    margin-top: 50px;
}