*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.nav{
    background-color: plum;
}
.herbs{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*second layer*/
.flist{
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
   gap: 30px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
/*third layer*/
.third{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 5px;
   
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    margin-left: 10px;
   display: flex;
   gap: 20px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}